127.0.0.1 localhost.localdomain localhost

{%- set addrs = salt['mine.get']('*', 'network.ip_addrs') %}
{%- if addrs is defined %}
{%- for name, addrlist in addrs.items() %}
{%- if name == "ohiggins" %}
{{ addrlist|first() }} {{ name }}.{{ pillar["domain"] }} {{ name }} controller
{%- else %}
{{ addrlist|first() }} {{ name }}.{{ pillar["domain"] }} {{ name }}
{%- endif %}
{%- endfor %}
{%- endif %}

172.21.22.10 sanmartin.openstack.flugel.it sanmartin controller
