127.0.0.1 localhost.localdomain localhost

{%- set addrs = salt['mine.get']('cluster_name:luisv' , 'openstack.get_private_ip', expr_form="grain") %}
{%- if addrs is defined %}

{%- for name, addr in addrs.items() %}
{{ addr }} {{ name }}.{{ pillar["domain"] }} {{ name }}
{%- endfor %}

{%- endif %}

104.236.27.237 flugel-cloud-master.openstack.flugel.it flugel-cloud-master

